In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime

In [2]:
xls=pd.read_excel('F:/ejercício de machine learning.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'F:/ejercício de machine learning.xlsx'

In [3]:
xls

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Data</th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2001-01-01</td>
      <td>0.532041</td>
      <td>0.277785</td>
      <td>5</td>
      <td>-1.187957</td>
      <td>Vitoria</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2001-01-02</td>
      <td>0.129002</td>
      <td>0.957972</td>
      <td>2</td>
      <td>-3.016482</td>
      <td>San Juan</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2001-01-03</td>
      <td>0.235785</td>
      <td>0.691731</td>
      <td>4</td>
      <td>-1.308088</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2001-01-04</td>
      <td>0.394707</td>
      <td>0.529500</td>
      <td>4</td>
      <td>-1.129221</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2001-01-05</td>
      <td>0.222275</td>
      <td>0.921626</td>
      <td>5</td>
      <td>-0.985100</td>
      <td>Vitoria</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2001-01-06</td>
      <td>0.866174</td>
      <td>0.748001</td>
      <td>4</td>
      <td>-0.313080</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2001-01-07</td>
      <td>0.368494</td>
      <td>0.953480</td>
      <td>2</td>
      <td>-1.509011</td>
      <td>San Juan</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2001-01-08</td>
      <td>0.763332</td>
      <td>0.717707</td>
      <td>4</td>
      <td>-0.434075</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2001-01-09</td>
      <td>0.606467</td>
      <td>0.538747</td>
      <td>5</td>
      <td>-0.695035</td>
      <td>Vitoria</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2001-01-10</td>
      <td>0.798201</td>
      <td>0.769089</td>
      <td>3</td>
      <td>-0.444146</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2001-01-11</td>
      <td>0.401353</td>
      <td>0.791157</td>
      <td>4</td>
      <td>-0.827510</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2001-01-12</td>
      <td>0.064804</td>
      <td>0.680555</td>
      <td>5</td>
      <td>-1.939327</td>
      <td>Vitoria</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2001-01-13</td>
      <td>0.957436</td>
      <td>0.462070</td>
      <td>3</td>
      <td>-0.742332</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2001-01-14</td>
      <td>0.283768</td>
      <td>0.832383</td>
      <td>3</td>
      <td>-1.313530</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2001-01-15</td>
      <td>0.015483</td>
      <td>0.728032</td>
      <td>3</td>
      <td>-4.082782</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2001-01-16</td>
      <td>0.838036</td>
      <td>0.780785</td>
      <td>3</td>
      <td>-0.386077</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2001-01-17</td>
      <td>0.378987</td>
      <td>0.602081</td>
      <td>3</td>
      <td>-1.344986</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2001-01-18</td>
      <td>0.251527</td>
      <td>0.107613</td>
      <td>3</td>
      <td>-3.285434</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2001-01-19</td>
      <td>0.850874</td>
      <td>0.505971</td>
      <td>3</td>
      <td>-0.767119</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2001-01-20</td>
      <td>0.877322</td>
      <td>0.609211</td>
      <td>2</td>
      <td>-0.903809</td>
      <td>San Juan</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2001-01-21</td>
      <td>0.986922</td>
      <td>0.740881</td>
      <td>4</td>
      <td>-0.225839</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2001-01-22</td>
      <td>0.992116</td>
      <td>0.486146</td>
      <td>4</td>
      <td>-0.525979</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2001-01-23</td>
      <td>0.556365</td>
      <td>0.134101</td>
      <td>3</td>
      <td>-2.362519</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2001-01-24</td>
      <td>0.664192</td>
      <td>0.658454</td>
      <td>5</td>
      <td>-0.513872</td>
      <td>Vitoria</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2001-01-25</td>
      <td>0.079350</td>
      <td>0.055343</td>
      <td>3</td>
      <td>-4.940864</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2001-01-26</td>
      <td>0.231879</td>
      <td>0.357640</td>
      <td>4</td>
      <td>-1.795988</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2001-01-27</td>
      <td>0.774402</td>
      <td>0.731226</td>
      <td>4</td>
      <td>-0.410228</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2001-01-28</td>
      <td>0.286670</td>
      <td>0.441145</td>
      <td>2</td>
      <td>-2.983212</td>
      <td>San Juan</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2001-01-29</td>
      <td>0.329627</td>
      <td>0.450546</td>
      <td>2</td>
      <td>-2.751350</td>
      <td>San Juan</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2001-01-30</td>
      <td>0.507470</td>
      <td>0.240593</td>
      <td>5</td>
      <td>-1.306645</td>
      <td>Vitoria</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>19970</th>
      <td>2055-09-05</td>
      <td>0.777764</td>
      <td>0.345891</td>
      <td>2</td>
      <td>-1.894206</td>
      <td>San Juan</td>
    </tr>
    <tr>
      <th>19971</th>
      <td>2055-09-06</td>
      <td>0.610132</td>
      <td>0.989350</td>
      <td>2</td>
      <td>-0.728253</td>
      <td>San Juan</td>
    </tr>
    <tr>
      <th>19972</th>
      <td>2055-09-07</td>
      <td>0.281104</td>
      <td>0.968997</td>
      <td>4</td>
      <td>-0.938131</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>19973</th>
      <td>2055-09-08</td>
      <td>0.160573</td>
      <td>0.186874</td>
      <td>3</td>
      <td>-3.191594</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>19974</th>
      <td>2055-09-09</td>
      <td>0.725358</td>
      <td>0.305990</td>
      <td>5</td>
      <td>-0.935292</td>
      <td>Vitoria</td>
    </tr>
    <tr>
      <th>19975</th>
      <td>2055-09-10</td>
      <td>0.124090</td>
      <td>0.075698</td>
      <td>3</td>
      <td>-4.248764</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>19976</th>
      <td>2055-09-11</td>
      <td>0.034760</td>
      <td>0.203378</td>
      <td>3</td>
      <td>-4.507481</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>19977</th>
      <td>2055-09-12</td>
      <td>0.096201</td>
      <td>0.865005</td>
      <td>2</td>
      <td>-3.587027</td>
      <td>San Juan</td>
    </tr>
    <tr>
      <th>19978</th>
      <td>2055-09-13</td>
      <td>0.986165</td>
      <td>0.335779</td>
      <td>4</td>
      <td>-0.797257</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>19979</th>
      <td>2055-09-14</td>
      <td>0.059211</td>
      <td>0.312635</td>
      <td>3</td>
      <td>-3.631272</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>19980</th>
      <td>2055-09-15</td>
      <td>0.543741</td>
      <td>0.556543</td>
      <td>2</td>
      <td>-1.724443</td>
      <td>San Juan</td>
    </tr>
    <tr>
      <th>19981</th>
      <td>2055-09-16</td>
      <td>0.503985</td>
      <td>0.278117</td>
      <td>5</td>
      <td>-1.220874</td>
      <td>Vitoria</td>
    </tr>
    <tr>
      <th>19982</th>
      <td>2055-09-17</td>
      <td>0.509400</td>
      <td>0.618522</td>
      <td>4</td>
      <td>-0.833116</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>19983</th>
      <td>2055-09-18</td>
      <td>0.309952</td>
      <td>0.359636</td>
      <td>4</td>
      <td>-1.582635</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>19984</th>
      <td>2055-09-19</td>
      <td>0.010143</td>
      <td>0.169450</td>
      <td>5</td>
      <td>-3.955542</td>
      <td>Vitoria</td>
    </tr>
    <tr>
      <th>19985</th>
      <td>2055-09-20</td>
      <td>0.434673</td>
      <td>0.457449</td>
      <td>2</td>
      <td>-2.330316</td>
      <td>San Juan</td>
    </tr>
    <tr>
      <th>19986</th>
      <td>2055-09-21</td>
      <td>0.446375</td>
      <td>0.508339</td>
      <td>3</td>
      <td>-1.350070</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>19987</th>
      <td>2055-09-22</td>
      <td>0.691367</td>
      <td>0.756111</td>
      <td>2</td>
      <td>-0.935805</td>
      <td>San Juan</td>
    </tr>
    <tr>
      <th>19988</th>
      <td>2055-09-23</td>
      <td>0.616948</td>
      <td>0.910219</td>
      <td>4</td>
      <td>-0.416247</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>19989</th>
      <td>2055-09-24</td>
      <td>0.303733</td>
      <td>0.710998</td>
      <td>4</td>
      <td>-1.105604</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>19990</th>
      <td>2055-09-25</td>
      <td>0.309718</td>
      <td>0.618033</td>
      <td>4</td>
      <td>-1.192609</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>19991</th>
      <td>2055-09-26</td>
      <td>0.257613</td>
      <td>0.274917</td>
      <td>4</td>
      <td>-1.909827</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>19992</th>
      <td>2055-09-27</td>
      <td>0.722089</td>
      <td>0.202276</td>
      <td>4</td>
      <td>-1.387678</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>19993</th>
      <td>2055-09-28</td>
      <td>0.261259</td>
      <td>0.313509</td>
      <td>4</td>
      <td>-1.804935</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>19994</th>
      <td>2055-09-29</td>
      <td>0.656199</td>
      <td>0.433041</td>
      <td>3</td>
      <td>-1.145276</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>19995</th>
      <td>2055-09-30</td>
      <td>0.670646</td>
      <td>0.923556</td>
      <td>3</td>
      <td>-0.436039</td>
      <td>Johanesburg</td>
    </tr>
    <tr>
      <th>19996</th>
      <td>2055-10-01</td>
      <td>0.854525</td>
      <td>0.284412</td>
      <td>2</td>
      <td>-2.040751</td>
      <td>San Juan</td>
    </tr>
    <tr>
      <th>19997</th>
      <td>2055-10-02</td>
      <td>0.957670</td>
      <td>0.087473</td>
      <td>4</td>
      <td>-1.788712</td>
      <td>Havana</td>
    </tr>
    <tr>
      <th>19998</th>
      <td>2055-10-03</td>
      <td>0.016550</td>
      <td>0.432890</td>
      <td>5</td>
      <td>-3.068543</td>
      <td>Vitoria</td>
    </tr>
    <tr>
      <th>19999</th>
      <td>2055-10-04</td>
      <td>0.435419</td>
      <td>0.984959</td>
      <td>2</td>
      <td>-1.221389</td>
      <td>San Juan</td>
    </tr>
  </tbody>
</table>
<p>20000 rows × 6 columns</p>
</div>

In [5]:
xls.groupby('E').sum()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
    <tr>
      <th>E</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Havana</th>
      <td>2510.719002</td>
      <td>2497.541328</td>
      <td>20084</td>
      <td>-7256.379949</td>
    </tr>
    <tr>
      <th>Johanesburg</th>
      <td>2523.954758</td>
      <td>2507.270942</td>
      <td>15000</td>
      <td>-8971.226495</td>
    </tr>
    <tr>
      <th>San Juan</th>
      <td>2510.425617</td>
      <td>2537.702854</td>
      <td>10080</td>
      <td>-14506.383450</td>
    </tr>
    <tr>
      <th>Vitoria</th>
      <td>2466.718206</td>
      <td>2477.903610</td>
      <td>24695</td>
      <td>-6128.646562</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
xls.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>20000.000000</td>
      <td>20000.000000</td>
      <td>20000.00000</td>
      <td>20000.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>0.500591</td>
      <td>0.501021</td>
      <td>3.49295</td>
      <td>-1.843132</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.288812</td>
      <td>0.289720</td>
      <td>1.11710</td>
      <td>1.510675</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000041</td>
      <td>0.000024</td>
      <td>2.00000</td>
      <td>-17.477707</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>0.250092</td>
      <td>0.250325</td>
      <td>2.00000</td>
      <td>-2.428937</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.500507</td>
      <td>0.499968</td>
      <td>3.00000</td>
      <td>-1.437407</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>0.753724</td>
      <td>0.751889</td>
      <td>4.00000</td>
      <td>-0.802709</td>
    </tr>
    <tr>
      <th>max</th>
      <td>0.999977</td>
      <td>0.999881</td>
      <td>5.00000</td>
      <td>-0.002575</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
xls['Data'].describe()

count                   20000
unique                  20000
top       2021-10-17 00:00:00
freq                        1
first     2001-01-01 00:00:00
last      2055-10-04 00:00:00
Name: Data, dtype: object

In [15]:
dt=pd.to_datetime(xls['Data'])
dt

0       2001-01-01
1       2001-01-02
2       2001-01-03
3       2001-01-04
4       2001-01-05
5       2001-01-06
6       2001-01-07
7       2001-01-08
8       2001-01-09
9       2001-01-10
10      2001-01-11
11      2001-01-12
12      2001-01-13
13      2001-01-14
14      2001-01-15
15      2001-01-16
16      2001-01-17
17      2001-01-18
18      2001-01-19
19      2001-01-20
20      2001-01-21
21      2001-01-22
22      2001-01-23
23      2001-01-24
24      2001-01-25
25      2001-01-26
26      2001-01-27
27      2001-01-28
28      2001-01-29
29      2001-01-30
           ...
19970   2055-09-05
19971   2055-09-06
19972   2055-09-07
19973   2055-09-08
19974   2055-09-09
19975   2055-09-10
19976   2055-09-11
19977   2055-09-12
19978   2055-09-13
19979   2055-09-14
19980   2055-09-15
19981   2055-09-16
19982   2055-09-17
19983   2055-09-18
19984   2055-09-19
19985   2055-09-20
19986   2055-09-21
19987   2055-09-22
19988   2055-09-23
19989   2055-09-24
19990   2055-09-25
19991   2055-09-26
19992   2055-09-27
19993   2055-09-28
19994   2055-09-29
19995   2055-09-30
19996   2055-10-01
19997   2055-10-02
19998   2055-10-03
19999   2055-10-04
Name: Data, Length: 20000, dtype: datetime64[ns]