In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

#CMA

####Carregando os dados referentes ao razão contábil.

In [2]:
razao=pd.DataFrame(pd.read_excel('F:/Conciliacao/CMA/RAZAO_CMA.xls'))
razao.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Débito</th>
      <th>Crédito</th>
      <th>Titulo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>1832.000000</td>
      <td>1832.000000</td>
      <td>1832.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>2187.774170</td>
      <td>2008.081135</td>
      <td>76410.978166</td>
    </tr>
    <tr>
      <th>std</th>
      <td>12999.496046</td>
      <td>12498.399752</td>
      <td>2317.791874</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>70624.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>74497.500000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.000000</td>
      <td>64.270000</td>
      <td>76955.500000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>66.267500</td>
      <td>67.800000</td>
      <td>78116.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>348809.370000</td>
      <td>348809.370000</td>
      <td>81083.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
razao['Titulo']=pd.to_numeric(razao['Titulo']) #formateando como numero los titulos, debito, credito
razao['Débito']=pd.to_numeric(razao['Débito'],errors='coerce')
razao['Crédito']=pd.to_numeric(razao['Crédito'],errors='coerce')
razao['Titulo']=pd.to_numeric(razao['Titulo'])
razao['Débito']=razao['Débito'].replace({np.nan:0.00})
razao['Crédito']=razao['Crédito'].replace({np.nan:0.00})
razao['Saldo']=razao['Crédito']-razao['Débito'] #calculando los saldos por cada movimento contabil de cada un de los titulos
razao.set_index('Titulo') # configurando la columna titulo como indice para este DataFrame.

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Data</th>
      <th>Histórico</th>
      <th>Débito</th>
      <th>Crédito</th>
      <th>Saldo</th>
    </tr>
    <tr>
      <th>Titulo</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>74720</th>
      <td>2020-09-01</td>
      <td>Vr. Título 74720 de Correia Sarnaglia Construt...</td>
      <td>0.00</td>
      <td>8885.00</td>
      <td>8885.00</td>
    </tr>
    <tr>
      <th>75134</th>
      <td>2020-09-01</td>
      <td>Vr. Título 75134 de Rdg Aços do Brasil S/A ref...</td>
      <td>0.00</td>
      <td>1031.80</td>
      <td>1031.80</td>
    </tr>
    <tr>
      <th>75137</th>
      <td>2020-09-01</td>
      <td>Vr. Título 75137 de Bozi Materiais de Construç...</td>
      <td>0.00</td>
      <td>1313.99</td>
      <td>1313.99</td>
    </tr>
    <tr>
      <th>75142</th>
      <td>2020-09-01</td>
      <td>Vr. Título 75142 de Dphl Distribuidora Ltda EP...</td>
      <td>0.00</td>
      <td>1113.60</td>
      <td>1113.60</td>
    </tr>
    <tr>
      <th>72184</th>
      <td>2020-09-01</td>
      <td>Vr. Pagamento do título 72184/1 de ArcelorMitt...</td>
      <td>41.21</td>
      <td>0.00</td>
      <td>-41.21</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>74168</th>
      <td>2020-09-30</td>
      <td>Vr. Pagamento do título 74168/1 de Ibrata Mine...</td>
      <td>568.64</td>
      <td>0.00</td>
      <td>-568.64</td>
    </tr>
    <tr>
      <th>74170</th>
      <td>2020-09-30</td>
      <td>Vr. Pagamento do título 74170/1 de Ibrata Mine...</td>
      <td>575.36</td>
      <td>0.00</td>
      <td>-575.36</td>
    </tr>
    <tr>
      <th>74172</th>
      <td>2020-09-30</td>
      <td>Vr. Pagamento do título 74172/1 de Ibrata Mine...</td>
      <td>563.84</td>
      <td>0.00</td>
      <td>-563.84</td>
    </tr>
    <tr>
      <th>75135</th>
      <td>2020-09-30</td>
      <td>Vr. Pagamento do título 75135/1 de América Com...</td>
      <td>500.00</td>
      <td>0.00</td>
      <td>-500.00</td>
    </tr>
    <tr>
      <th>75957</th>
      <td>2020-09-30</td>
      <td>Vr. Pagamento do título 75957/1 de Pashal Loca...</td>
      <td>21448.28</td>
      <td>0.00</td>
      <td>-21448.28</td>
    </tr>
  </tbody>
</table>
<p>1832 rows × 5 columns</p>
</div>

In [4]:
razao['Crédito'].sum()-razao['Débito'].sum()  #HACIENDO EL CALCULO DEL SALDO

-329197.6399999992

##Carregando os dados referentes aos titulos e nomes dos fornecedores.

In [5]:
titulo=pd.DataFrame(pd.read_excel('F:/Conciliacao/CMA/TITULOS_CMA.xls', index_col='Titulo'))

In [6]:
titulo

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Credor</th>
      <th>Documento</th>
      <th>Emis.NF</th>
      <th>Cadastro</th>
      <th>Vencto</th>
    </tr>
    <tr>
      <th>Titulo</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>60877</th>
      <td>2352 - Sandra Costa Salgado</td>
      <td>REC /008</td>
      <td>02/01/2020</td>
      <td>02/01/2020</td>
      <td>05/01/2020</td>
    </tr>
    <tr>
      <th>60878</th>
      <td>3614 - A D G Engenharia , Topografia , Consult...</td>
      <td>NFE /30</td>
      <td>02/01/2020</td>
      <td>02/01/2020</td>
      <td>05/01/2020</td>
    </tr>
    <tr>
      <th>60879</th>
      <td>1269 - Prefeitura Municipal da Serra</td>
      <td>GUIA/30</td>
      <td>02/01/2020</td>
      <td>02/01/2020</td>
      <td>13/03/2020</td>
    </tr>
    <tr>
      <th>60880</th>
      <td>3769 - Wcastro Engenharia e Construções Eirelli</td>
      <td>NFE /2020/1</td>
      <td>02/01/2020</td>
      <td>02/01/2020</td>
      <td>05/01/2020</td>
    </tr>
    <tr>
      <th>60881</th>
      <td>1269 - Prefeitura Municipal da Serra</td>
      <td>GUIA/004BM</td>
      <td>02/01/2020</td>
      <td>02/01/2020</td>
      <td>14/02/2020</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>79556</th>
      <td>168 - ArcelorMittal Brasil S.A (Serra)</td>
      <td>NFE /4580483</td>
      <td>30/09/2020</td>
      <td>07/10/2020</td>
      <td>01/11/2020</td>
    </tr>
    <tr>
      <th>79653</th>
      <td>3799 - Prefaz Pre Fabricados de Concreto</td>
      <td>NFE /40016</td>
      <td>30/09/2020</td>
      <td>08/10/2020</td>
      <td>31/10/2020</td>
    </tr>
    <tr>
      <th>80032</th>
      <td>168 - ArcelorMittal Brasil S.A (Serra)</td>
      <td>NFE /4580913</td>
      <td>30/09/2020</td>
      <td>14/10/2020</td>
      <td>01/11/2020</td>
    </tr>
    <tr>
      <th>80043</th>
      <td>168 - ArcelorMittal Brasil S.A (Serra)</td>
      <td>NFE /4580664</td>
      <td>30/09/2020</td>
      <td>14/10/2020</td>
      <td>01/11/2020</td>
    </tr>
    <tr>
      <th>81482</th>
      <td>1269 - Prefeitura Municipal da Serra</td>
      <td>GUIA/11812</td>
      <td>30/09/2020</td>
      <td>22/10/2020</td>
      <td>13/11/2020</td>
    </tr>
  </tbody>
</table>
<p>4414 rows × 5 columns</p>
</div>

In [7]:
#Visualizando os titulos e os fornecedores
titulo

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Credor</th>
      <th>Documento</th>
      <th>Emis.NF</th>
      <th>Cadastro</th>
      <th>Vencto</th>
    </tr>
    <tr>
      <th>Titulo</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>60877</th>
      <td>2352 - Sandra Costa Salgado</td>
      <td>REC /008</td>
      <td>02/01/2020</td>
      <td>02/01/2020</td>
      <td>05/01/2020</td>
    </tr>
    <tr>
      <th>60878</th>
      <td>3614 - A D G Engenharia , Topografia , Consult...</td>
      <td>NFE /30</td>
      <td>02/01/2020</td>
      <td>02/01/2020</td>
      <td>05/01/2020</td>
    </tr>
    <tr>
      <th>60879</th>
      <td>1269 - Prefeitura Municipal da Serra</td>
      <td>GUIA/30</td>
      <td>02/01/2020</td>
      <td>02/01/2020</td>
      <td>13/03/2020</td>
    </tr>
    <tr>
      <th>60880</th>
      <td>3769 - Wcastro Engenharia e Construções Eirelli</td>
      <td>NFE /2020/1</td>
      <td>02/01/2020</td>
      <td>02/01/2020</td>
      <td>05/01/2020</td>
    </tr>
    <tr>
      <th>60881</th>
      <td>1269 - Prefeitura Municipal da Serra</td>
      <td>GUIA/004BM</td>
      <td>02/01/2020</td>
      <td>02/01/2020</td>
      <td>14/02/2020</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>79556</th>
      <td>168 - ArcelorMittal Brasil S.A (Serra)</td>
      <td>NFE /4580483</td>
      <td>30/09/2020</td>
      <td>07/10/2020</td>
      <td>01/11/2020</td>
    </tr>
    <tr>
      <th>79653</th>
      <td>3799 - Prefaz Pre Fabricados de Concreto</td>
      <td>NFE /40016</td>
      <td>30/09/2020</td>
      <td>08/10/2020</td>
      <td>31/10/2020</td>
    </tr>
    <tr>
      <th>80032</th>
      <td>168 - ArcelorMittal Brasil S.A (Serra)</td>
      <td>NFE /4580913</td>
      <td>30/09/2020</td>
      <td>14/10/2020</td>
      <td>01/11/2020</td>
    </tr>
    <tr>
      <th>80043</th>
      <td>168 - ArcelorMittal Brasil S.A (Serra)</td>
      <td>NFE /4580664</td>
      <td>30/09/2020</td>
      <td>14/10/2020</td>
      <td>01/11/2020</td>
    </tr>
    <tr>
      <th>81482</th>
      <td>1269 - Prefeitura Municipal da Serra</td>
      <td>GUIA/11812</td>
      <td>30/09/2020</td>
      <td>22/10/2020</td>
      <td>13/11/2020</td>
    </tr>
  </tbody>
</table>
<p>4414 rows × 5 columns</p>
</div>

In [8]:
titulo.sort_index

<bound method DataFrame.sort_index of                                                    Credor     Documento  \
Titulo
60877                         2352 - Sandra Costa Salgado      REC /008
60878   3614 - A D G Engenharia , Topografia , Consult...       NFE /30
60879               1269 - Prefeitura Municipal da Serra        GUIA/30
60880     3769 - Wcastro Engenharia e Construções Eirelli   NFE /2020/1
60881               1269 - Prefeitura Municipal da Serra     GUIA/004BM
...                                                   ...           ...
79556              168 - ArcelorMittal Brasil S.A (Serra)  NFE /4580483
79653            3799 - Prefaz Pre Fabricados de Concreto    NFE /40016
80032              168 - ArcelorMittal Brasil S.A (Serra)  NFE /4580913
80043              168 - ArcelorMittal Brasil S.A (Serra)  NFE /4580664
81482               1269 - Prefeitura Municipal da Serra     GUIA/11812

           Emis.NF    Cadastro      Vencto
Titulo
60877   02/01/2020  02/01/2020  05/01/2020
60878   02/01/2020  02/01/2020  05/01/2020
60879   02/01/2020  02/01/2020  13/03/2020
60880   02/01/2020  02/01/2020  05/01/2020
60881   02/01/2020  02/01/2020  14/02/2020
...            ...         ...         ...
79556   30/09/2020  07/10/2020  01/11/2020
79653   30/09/2020  08/10/2020  31/10/2020
80032   30/09/2020  14/10/2020  01/11/2020
80043   30/09/2020  14/10/2020  01/11/2020
81482   30/09/2020  22/10/2020  13/11/2020

[4414 rows x 5 columns]>

###Paso importante! HAciendo la juncion de los dos DataFrames razao e titulos

In [9]:
cma=pd.DataFrame(pd.merge(razao,titulo, on='Titulo'))
cma

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Data</th>
      <th>Histórico</th>
      <th>Débito</th>
      <th>Crédito</th>
      <th>Titulo</th>
      <th>Saldo</th>
      <th>Credor</th>
      <th>Documento</th>
      <th>Emis.NF</th>
      <th>Cadastro</th>
      <th>Vencto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2020-09-01</td>
      <td>Vr. Título 74720 de Correia Sarnaglia Construt...</td>
      <td>0.00</td>
      <td>8885.00</td>
      <td>74720</td>
      <td>8885.00</td>
      <td>4329 - Correia Sarnaglia Construtora e Incorpo...</td>
      <td>NF  /6</td>
      <td>01/09/2020</td>
      <td>01/09/2020</td>
      <td>04/09/2020</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2020-09-09</td>
      <td>Vr. Pagamento do título 74720/1 de Correia Sar...</td>
      <td>8885.00</td>
      <td>0.00</td>
      <td>74720</td>
      <td>-8885.00</td>
      <td>4329 - Correia Sarnaglia Construtora e Incorpo...</td>
      <td>NF  /6</td>
      <td>01/09/2020</td>
      <td>01/09/2020</td>
      <td>04/09/2020</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2020-09-01</td>
      <td>Vr. Título 75134 de Rdg Aços do Brasil S/A ref...</td>
      <td>0.00</td>
      <td>1031.80</td>
      <td>75134</td>
      <td>1031.80</td>
      <td>2238 - Rdg Aços do Brasil S/A</td>
      <td>NFE /634359</td>
      <td>01/09/2020</td>
      <td>03/09/2020</td>
      <td>01/10/2020</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2020-09-01</td>
      <td>Vr. Título 75137 de Bozi Materiais de Construç...</td>
      <td>0.00</td>
      <td>1313.99</td>
      <td>75137</td>
      <td>1313.99</td>
      <td>469 - Bozi Materiais de Construção</td>
      <td>NFE /391578</td>
      <td>01/09/2020</td>
      <td>03/09/2020</td>
      <td>01/10/2020</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2020-09-01</td>
      <td>Vr. Título 75142 de Dphl Distribuidora Ltda EP...</td>
      <td>0.00</td>
      <td>1113.60</td>
      <td>75142</td>
      <td>1113.60</td>
      <td>207 - Dphl Distribuidora Ltda EPP</td>
      <td>NFE /75958</td>
      <td>01/09/2020</td>
      <td>03/09/2020</td>
      <td>01/10/2020</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1827</th>
      <td>2020-09-30</td>
      <td>Vr. Pagamento do título 75009/2 de Nildo Ultra...</td>
      <td>3240.00</td>
      <td>0.00</td>
      <td>75009</td>
      <td>-3240.00</td>
      <td>417 - Nildo Ultramar E Cia Ltda.</td>
      <td>NFE /39442</td>
      <td>24/08/2020</td>
      <td>02/09/2020</td>
      <td>24/08/2020</td>
    </tr>
    <tr>
      <th>1828</th>
      <td>2020-09-30</td>
      <td>Vr. Pagamento do título 74168/1 de Ibrata Mine...</td>
      <td>568.64</td>
      <td>0.00</td>
      <td>74168</td>
      <td>-568.64</td>
      <td>3422 - Ibrata Mineração Ltda</td>
      <td>NFE /112036</td>
      <td>24/08/2020</td>
      <td>27/08/2020</td>
      <td>30/09/2020</td>
    </tr>
    <tr>
      <th>1829</th>
      <td>2020-09-30</td>
      <td>Vr. Pagamento do título 74170/1 de Ibrata Mine...</td>
      <td>575.36</td>
      <td>0.00</td>
      <td>74170</td>
      <td>-575.36</td>
      <td>3422 - Ibrata Mineração Ltda</td>
      <td>NFE /112023</td>
      <td>24/08/2020</td>
      <td>27/08/2020</td>
      <td>30/09/2020</td>
    </tr>
    <tr>
      <th>1830</th>
      <td>2020-09-30</td>
      <td>Vr. Pagamento do título 74172/1 de Ibrata Mine...</td>
      <td>563.84</td>
      <td>0.00</td>
      <td>74172</td>
      <td>-563.84</td>
      <td>3422 - Ibrata Mineração Ltda</td>
      <td>NFE /112025</td>
      <td>24/08/2020</td>
      <td>27/08/2020</td>
      <td>30/09/2020</td>
    </tr>
    <tr>
      <th>1831</th>
      <td>2020-09-30</td>
      <td>Vr. Pagamento do título 75135/1 de América Com...</td>
      <td>500.00</td>
      <td>0.00</td>
      <td>75135</td>
      <td>-500.00</td>
      <td>4062 - América Comércio de Ferramentas Ltda</td>
      <td>NFE /11005</td>
      <td>31/08/2020</td>
      <td>03/09/2020</td>
      <td>30/09/2020</td>
    </tr>
  </tbody>
</table>
<p>1832 rows × 11 columns</p>
</div>

In [10]:
fornecedor=pd.DataFrame(cma.groupby('Credor')['Débito','Crédito','Saldo'].sum())
fornecedor.to_excel('F:/Conciliacao/CMA/SAIDA_CMA/POR_FORNECEDOR.xlsx')

<ipython-input-10-7d48421f1c95>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  fornecedor=pd.DataFrame(cma.groupby('Credor')['Débito','Crédito','Saldo'].sum())

In [11]:
por_titulo=pd.DataFrame(cma.groupby(['Credor','Titulo'])['Histórico','Débito','Crédito','Saldo'].sum())
por_titulo.to_excel('F:/Conciliacao/CMA/SAIDA_CMA/POR_FORNECEDOR_E_TITULO.xlsx')

<ipython-input-11-fdd2d7054b21>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  por_titulo=pd.DataFrame(cma.groupby(['Credor','Titulo'])['Histórico','Débito','Crédito','Saldo'].sum())

In [12]:
por_documento=pd.DataFrame(cma.groupby(['Credor','Titulo','Documento','Histórico','Data'])['Débito','Crédito','Saldo'].sum())
por_documento.to_excel('F:/Conciliacao/CMA/SAIDA_CMA/FORNECEDOR_TITULO_DOCUMENTO.xlsx')

<ipython-input-12-b2f609cc9442>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  por_documento=pd.DataFrame(cma.groupby(['Credor','Titulo','Documento','Histórico','Data'])['Débito','Crédito','Saldo'].sum())

In [13]:
print(fornecedor.count())

Débito     136
Crédito    136
Saldo      136
dtype: int64

In [14]:
por_titulo.count()

Débito     1742
Crédito    1742
Saldo      1742
dtype: int64

In [15]:
por_documento.count()

Débito     1832
Crédito    1832
Saldo      1832
dtype: int64

In [16]:
por_documento[por_documento['Saldo']<0].sum()

Débito     4008002.28
Crédito          0.00
Saldo     -4008002.28
dtype: float64

In [17]:
razao.dtypes

Data         datetime64[ns]
Histórico            object
Débito              float64
Crédito             float64
Titulo                int64
Saldo               float64
dtype: object

#CONTRATOR

In [22]:
razao=pd.DataFrame(pd.read_excel('F:/Conciliacao/Contractor/RAZAO_CONTRACTOR.xls'))
razao.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Débito</th>
      <th>Crédito</th>
      <th>Titulo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>3684.000000</td>
      <td>3414.000000</td>
      <td>7098.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>3053.882655</td>
      <td>3299.636488</td>
      <td>72285.174415</td>
    </tr>
    <tr>
      <th>std</th>
      <td>13108.146585</td>
      <td>12803.015629</td>
      <td>3015.897012</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.790000</td>
      <td>1.500000</td>
      <td>63187.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>166.915000</td>
      <td>159.825000</td>
      <td>70121.250000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>635.000000</td>
      <td>650.500000</td>
      <td>71885.500000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1261.245000</td>
      <td>1320.750000</td>
      <td>74001.500000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>283398.820000</td>
      <td>278631.850000</td>
      <td>81504.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [24]:
razao['Titulo']=pd.to_numeric(razao['Titulo']) #formateando como numero los titulos, debito, credito
razao['Débito']=pd.to_numeric(razao['Débito'],errors='coerce')
razao['Crédito']=pd.to_numeric(razao['Crédito'],errors='coerce')
razao['Titulo']=pd.to_numeric(razao['Titulo'])
razao['Débito']=razao['Débito'].replace({np.nan:0.00})
razao['Crédito']=razao['Crédito'].replace({np.nan:0.00})
razao['Saldo']=razao['Crédito']-razao['Débito'] #calculando los saldos por cada movimento contabil de cada un de los titulos
razao.set_index('Titulo') # configurando la columna titulo como indice para este DataFrame.

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Data</th>
      <th>Histórico</th>
      <th>Débito</th>
      <th>Crédito</th>
      <th>Saldo</th>
    </tr>
    <tr>
      <th>Titulo</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>68638</th>
      <td>01/06/2020</td>
      <td>Vr. Título 68638 de Felix e Guio Ltda. referen...</td>
      <td>0.0</td>
      <td>1590.00</td>
      <td>1590.00</td>
    </tr>
    <tr>
      <th>68644</th>
      <td>01/06/2020</td>
      <td>Vr. Título 68644 de L &amp; S Panificadora Ltda. M...</td>
      <td>0.0</td>
      <td>230.00</td>
      <td>230.00</td>
    </tr>
    <tr>
      <th>68649</th>
      <td>01/06/2020</td>
      <td>Vr. Título 68649 de Posto de Combustíveis PA L...</td>
      <td>0.0</td>
      <td>120.00</td>
      <td>120.00</td>
    </tr>
    <tr>
      <th>68650</th>
      <td>01/06/2020</td>
      <td>Vr. Título 68650 de Posto de Combustíveis PA L...</td>
      <td>0.0</td>
      <td>4721.93</td>
      <td>4721.93</td>
    </tr>
    <tr>
      <th>68655</th>
      <td>01/06/2020</td>
      <td>Vr. Título 68655 de Recreio Vitória Veículos L...</td>
      <td>0.0</td>
      <td>654.59</td>
      <td>654.59</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>80054</th>
      <td>30/09/2020</td>
      <td>Vr. Título 80054 de SERVIÇO DE CONCRETAGEM ALT...</td>
      <td>0.0</td>
      <td>4343.22</td>
      <td>4343.22</td>
    </tr>
    <tr>
      <th>80387</th>
      <td>30/09/2020</td>
      <td>Vr. Título 80387 de Casa Rezende Tecidos Ltda....</td>
      <td>0.0</td>
      <td>185.50</td>
      <td>185.50</td>
    </tr>
    <tr>
      <th>80388</th>
      <td>30/09/2020</td>
      <td>Vr. Título 80388 de Edilane Ferreira Machado O...</td>
      <td>0.0</td>
      <td>7636.00</td>
      <td>7636.00</td>
    </tr>
    <tr>
      <th>80689</th>
      <td>30/09/2020</td>
      <td>Vr. Título 80689 de MTC Indústria e Comércio M...</td>
      <td>0.0</td>
      <td>200.00</td>
      <td>200.00</td>
    </tr>
    <tr>
      <th>80690</th>
      <td>30/09/2020</td>
      <td>Vr. Título 80690 de MTC Indústria e Comércio M...</td>
      <td>0.0</td>
      <td>7040.00</td>
      <td>7040.00</td>
    </tr>
  </tbody>
</table>
<p>7098 rows × 5 columns</p>
</div>

In [25]:
titulo_CONTRACTOR=pd.DataFrame(pd.read_excel('F:/Conciliacao/Contractor/TITULOS_CONTRACTOR.xls', index_col='Titulo'))
titulo_CONTRACTOR

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Credor</th>
      <th>Documento</th>
      <th>Emis.NF</th>
      <th>Cadastro</th>
      <th>Vencto</th>
    </tr>
    <tr>
      <th>Titulo</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>61315</th>
      <td>97 - Serasa S.A.</td>
      <td>NFE /6496475</td>
      <td>01/01/2020</td>
      <td>10/01/2020</td>
      <td>15/01/2020</td>
    </tr>
    <tr>
      <th>60872</th>
      <td>536 - Funcionários Contractor / Consórcios</td>
      <td>FP  /SAL 12/2019-CONTRAC</td>
      <td>02/01/2020</td>
      <td>02/01/2020</td>
      <td>07/01/2020</td>
    </tr>
    <tr>
      <th>60893</th>
      <td>115 - L &amp; S Panificadora Ltda. Me</td>
      <td>NFE /6974</td>
      <td>02/01/2020</td>
      <td>02/01/2020</td>
      <td>21/01/2020</td>
    </tr>
    <tr>
      <th>60894</th>
      <td>3221 - Visão Empresarial Ltda.</td>
      <td>NFE /2183</td>
      <td>02/01/2020</td>
      <td>02/01/2020</td>
      <td>15/01/2020</td>
    </tr>
    <tr>
      <th>60896</th>
      <td>497 - Secretaria da Receita Federal do Brasil</td>
      <td>GUIA/2183</td>
      <td>02/01/2020</td>
      <td>02/01/2020</td>
      <td>20/02/2020</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>78280</th>
      <td>86 - Politintas Ltda. 04-Vitória-Gurigica</td>
      <td>NFE /150770</td>
      <td>21/09/2020</td>
      <td>25/09/2020</td>
      <td>19/10/2020</td>
    </tr>
    <tr>
      <th>78284</th>
      <td>3015 - A.B Lopes Audio e Video Ltda Me</td>
      <td>NFE /10959</td>
      <td>23/09/2020</td>
      <td>25/09/2020</td>
      <td>30/09/2020</td>
    </tr>
    <tr>
      <th>81173</th>
      <td>2072 - Lumiluz Material Elétrico Ltda.</td>
      <td>NFE /174936</td>
      <td>25/09/2020</td>
      <td>21/10/2020</td>
      <td>21/10/2020</td>
    </tr>
    <tr>
      <th>78581</th>
      <td>4306 - Valdeci José Tolentino</td>
      <td>NFE /217</td>
      <td>28/09/2020</td>
      <td>29/09/2020</td>
      <td>16/10/2020</td>
    </tr>
    <tr>
      <th>80849</th>
      <td>4312 - Composé Revestimentos e Acabamentos Ltda.</td>
      <td>NFE /109952</td>
      <td>29/09/2020</td>
      <td>19/10/2020</td>
      <td>29/10/2020</td>
    </tr>
  </tbody>
</table>
<p>9820 rows × 5 columns</p>
</div>

In [26]:
CONTRACTOR=pd.DataFrame(pd.merge(razao,titulo_CONTRACTOR, on='Titulo'))
CONTRACTOR

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Data</th>
      <th>Histórico</th>
      <th>Débito</th>
      <th>Crédito</th>
      <th>Titulo</th>
      <th>Saldo</th>
      <th>Credor</th>
      <th>Documento</th>
      <th>Emis.NF</th>
      <th>Cadastro</th>
      <th>Vencto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>01/06/2020</td>
      <td>Vr. Título 68638 de Felix e Guio Ltda. referen...</td>
      <td>0.0</td>
      <td>1590.00</td>
      <td>68638</td>
      <td>1590.00</td>
      <td>1506 - Felix e Guio Ltda.</td>
      <td>NFSP/1585</td>
      <td>01/06/2020</td>
      <td>02/06/2020</td>
      <td>05/06/2020</td>
    </tr>
    <tr>
      <th>1</th>
      <td>05/06/2020</td>
      <td>Vr. Pagamento do título 68638/1 de Felix e Gui...</td>
      <td>1590.0</td>
      <td>0.00</td>
      <td>68638</td>
      <td>-1590.00</td>
      <td>1506 - Felix e Guio Ltda.</td>
      <td>NFSP/1585</td>
      <td>01/06/2020</td>
      <td>02/06/2020</td>
      <td>05/06/2020</td>
    </tr>
    <tr>
      <th>2</th>
      <td>01/06/2020</td>
      <td>Vr. Título 68644 de L &amp; S Panificadora Ltda. M...</td>
      <td>0.0</td>
      <td>230.00</td>
      <td>68644</td>
      <td>230.00</td>
      <td>115 - L &amp; S Panificadora Ltda. Me</td>
      <td>NFSP/7240</td>
      <td>01/06/2020</td>
      <td>02/06/2020</td>
      <td>15/06/2020</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15/06/2020</td>
      <td>Vr. Pagamento do título 68644/1 de L &amp; S Panif...</td>
      <td>230.0</td>
      <td>0.00</td>
      <td>68644</td>
      <td>-230.00</td>
      <td>115 - L &amp; S Panificadora Ltda. Me</td>
      <td>NFSP/7240</td>
      <td>01/06/2020</td>
      <td>02/06/2020</td>
      <td>15/06/2020</td>
    </tr>
    <tr>
      <th>4</th>
      <td>01/06/2020</td>
      <td>Vr. Título 68649 de Posto de Combustíveis PA L...</td>
      <td>0.0</td>
      <td>120.00</td>
      <td>68649</td>
      <td>120.00</td>
      <td>586 - Posto de Combustíveis PA Ltda</td>
      <td>NFSP/590</td>
      <td>01/06/2020</td>
      <td>02/06/2020</td>
      <td>05/06/2020</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>7308</th>
      <td>30/09/2020</td>
      <td>Vr. Título 80054 de SERVIÇO DE CONCRETAGEM ALT...</td>
      <td>0.0</td>
      <td>4343.22</td>
      <td>80054</td>
      <td>4343.22</td>
      <td>4414 - SERVIÇO DE CONCRETAGEM ALTO DA SERRA LTDA</td>
      <td>NFE /13026</td>
      <td>30/09/2020</td>
      <td>14/10/2020</td>
      <td>30/10/2020</td>
    </tr>
    <tr>
      <th>7309</th>
      <td>30/09/2020</td>
      <td>Vr. Título 80387 de Casa Rezende Tecidos Ltda....</td>
      <td>0.0</td>
      <td>185.50</td>
      <td>80387</td>
      <td>185.50</td>
      <td>3116 - Casa Rezende Tecidos Ltda.</td>
      <td>NFSP/616</td>
      <td>30/09/2020</td>
      <td>15/10/2020</td>
      <td>10/11/2020</td>
    </tr>
    <tr>
      <th>7310</th>
      <td>30/09/2020</td>
      <td>Vr. Título 80388 de Edilane Ferreira Machado O...</td>
      <td>0.0</td>
      <td>7636.00</td>
      <td>80388</td>
      <td>7636.00</td>
      <td>4033 - Edilane Ferreira Machado Oliveira</td>
      <td>NFSP/657224</td>
      <td>30/09/2020</td>
      <td>15/10/2020</td>
      <td>30/10/2020</td>
    </tr>
    <tr>
      <th>7311</th>
      <td>30/09/2020</td>
      <td>Vr. Título 80689 de MTC Indústria e Comércio M...</td>
      <td>0.0</td>
      <td>200.00</td>
      <td>80689</td>
      <td>200.00</td>
      <td>3854 - MTC Indústria e Comércio Material de Co...</td>
      <td>NFSP/41</td>
      <td>30/09/2020</td>
      <td>17/10/2020</td>
      <td>21/10/2020</td>
    </tr>
    <tr>
      <th>7312</th>
      <td>30/09/2020</td>
      <td>Vr. Título 80690 de MTC Indústria e Comércio M...</td>
      <td>0.0</td>
      <td>7040.00</td>
      <td>80690</td>
      <td>7040.00</td>
      <td>3854 - MTC Indústria e Comércio Material de Co...</td>
      <td>NFSP/40</td>
      <td>30/09/2020</td>
      <td>17/10/2020</td>
      <td>21/10/2020</td>
    </tr>
  </tbody>
</table>
<p>7313 rows × 11 columns</p>
</div>

In [27]:
fornecedor_contractor=pd.DataFrame(CONTRACTOR.groupby('Credor')['Débito','Crédito','Saldo'].sum())
fornecedor.to_excel('F:/Conciliacao/Contractor/SAIDA_CONTRACTOR/POR_FORNECEDOR.xlsx')

C:\Users\User\Virtual_Alejandro\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [29]:
por_titulo=pd.DataFrame(CONTRACTOR.groupby(['Credor','Titulo'])['Histórico','Débito','Crédito','Saldo'].sum())
por_titulo.to_excel('F:/Conciliacao/CONTRACTOR/SAIDA_CONTRACTOR/POR_FORNECEDOR_E_TITULO.xlsx')

C:\Users\User\Virtual_Alejandro\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [32]:
por_documento=pd.DataFrame(CONTRACTOR.groupby(['Credor','Titulo','Documento','Data'])['Débito','Crédito','Saldo'].sum())
por_documento.to_excel('F:/Conciliacao/CONTRACTOR/SAIDA_CONTRACTOR/FORNECEDOR_TITULO_DOCUMENTO.xlsx')

C:\Users\User\Virtual_Alejandro\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

KeyboardInterrupt:

#IGUATEMI

In [38]:
razao_iguatemi=pd.DataFrame(pd.read_excel('F:/Conciliacao/Iguatemi/RAZAO_IGUATEMI.xls'))
razao_iguatemi.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Titulo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>1374.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>77005.320233</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1848.249247</td>
    </tr>
    <tr>
      <th>min</th>
      <td>71651.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>75733.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>77014.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>78466.750000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>81138.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [39]:
razao_iguatemi['Titulo']=pd.to_numeric(razao_iguatemi['Titulo']) #formateando como numero los titulos, debito, credito
razao_iguatemi['Débito']=pd.to_numeric(razao_iguatemi['Débito'],errors='coerce')
razao_iguatemi['Crédito']=pd.to_numeric(razao_iguatemi['Crédito'],errors='coerce')
razao_iguatemi['Titulo']=pd.to_numeric(razao_iguatemi['Titulo'])
razao_iguatemi['Débito']=razao_iguatemi['Débito'].replace({np.nan:0.00})
razao_iguatemi['Crédito']=razao_iguatemi['Crédito'].replace({np.nan:0.00})
razao_iguatemi['Saldo']=razao_iguatemi['Crédito']-razao_iguatemi['Débito'] #calculando los saldos por cada movimento contabil de cada un de los titulos
razao_iguatemi.set_index('Titulo') # configurando la columna titulo como indice para este DataFrame.

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Data</th>
      <th>Histórico</th>
      <th>Débito</th>
      <th>Crédito</th>
      <th>Saldo</th>
    </tr>
    <tr>
      <th>Titulo</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>74961.0</th>
      <td>2020-09-01</td>
      <td>Vr. Título 74961 de Vector Tecnologia Ltda. Ep...</td>
      <td>0.00</td>
      <td>13200.00</td>
      <td>13200.00</td>
    </tr>
    <tr>
      <th>77358.0</th>
      <td>2020-09-01</td>
      <td>Vr. Título 77358 de Brasitalia Mineradora Esp....</td>
      <td>0.00</td>
      <td>193.19</td>
      <td>193.19</td>
    </tr>
    <tr>
      <th>NaN</th>
      <td>2020-09-01</td>
      <td>VR REF.INSS descontado a menor fornecedor B2A ...</td>
      <td>1792.94</td>
      <td>0.00</td>
      <td>-1792.94</td>
    </tr>
    <tr>
      <th>77359.0</th>
      <td>2020-09-01</td>
      <td>Vr. Título 77359 de Brasitalia Mineradora Esp....</td>
      <td>0.00</td>
      <td>189.68</td>
      <td>189.68</td>
    </tr>
    <tr>
      <th>77360.0</th>
      <td>2020-09-01</td>
      <td>Vr. Título 77360 de Brasitalia Mineradora Esp....</td>
      <td>0.00</td>
      <td>191.97</td>
      <td>191.97</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>75056.0</th>
      <td>2020-09-30</td>
      <td>Vr. Pagamento do título 75056/1 de Brasitalia ...</td>
      <td>192.92</td>
      <td>0.00</td>
      <td>-192.92</td>
    </tr>
    <tr>
      <th>75096.0</th>
      <td>2020-09-30</td>
      <td>Vr. Pagamento do título 75096/1 de Brasitalia ...</td>
      <td>197.24</td>
      <td>0.00</td>
      <td>-197.24</td>
    </tr>
    <tr>
      <th>75726.0</th>
      <td>2020-09-30</td>
      <td>Vr. Pagamento do título 75726/1 de Brasitalia ...</td>
      <td>193.19</td>
      <td>0.00</td>
      <td>-193.19</td>
    </tr>
    <tr>
      <th>75728.0</th>
      <td>2020-09-30</td>
      <td>Vr. Pagamento do título 75728/1 de Brasitalia ...</td>
      <td>187.52</td>
      <td>0.00</td>
      <td>-187.52</td>
    </tr>
    <tr>
      <th>75736.0</th>
      <td>2020-09-30</td>
      <td>Vr. Pagamento do título 75736/1 de Brasitalia ...</td>
      <td>187.52</td>
      <td>0.00</td>
      <td>-187.52</td>
    </tr>
  </tbody>
</table>
<p>1375 rows × 5 columns</p>
</div>

In [41]:
titulo_iguatemi=pd.DataFrame(pd.read_excel('F:/Conciliacao/Iguatemi/TITULOS_IGUATEMI.xls', index_col='Titulo'))
titulo_iguatemi

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Credor</th>
      <th>Documento</th>
      <th>Emis.NF</th>
      <th>Cadastro</th>
      <th>Vencto</th>
    </tr>
    <tr>
      <th>Titulo</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>60873</th>
      <td>536 - Funcionários Contractor / Consórcios</td>
      <td>FP  /SAL 12/2019-IGUATEMI</td>
      <td>02/01/2020</td>
      <td>02/01/2020</td>
      <td>07/01/2020</td>
    </tr>
    <tr>
      <th>61098</th>
      <td>3053 - Polimix Concreto Ltda</td>
      <td>NFE /46411</td>
      <td>02/01/2020</td>
      <td>07/01/2020</td>
      <td>23/01/2020</td>
    </tr>
    <tr>
      <th>61099</th>
      <td>2238 - Rdg Aços do Brasil S/A</td>
      <td>NFE /571778</td>
      <td>02/01/2020</td>
      <td>07/01/2020</td>
      <td>03/02/2020</td>
    </tr>
    <tr>
      <th>61264</th>
      <td>490 - Posto Malacarne Ltda</td>
      <td>NFSP/14995</td>
      <td>02/01/2020</td>
      <td>09/01/2020</td>
      <td>15/01/2020</td>
    </tr>
    <tr>
      <th>62047</th>
      <td>487 - Unimed Vitória  Cooperativa de Trabalho ...</td>
      <td>NFSP/2441092</td>
      <td>02/01/2020</td>
      <td>31/01/2020</td>
      <td>10/02/2020</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>80368</th>
      <td>396 - Brasitalia Mineradora Esp. Santense Ltda.</td>
      <td>NFE /77593</td>
      <td>30/09/2020</td>
      <td>15/10/2020</td>
      <td>30/10/2020</td>
    </tr>
    <tr>
      <th>80369</th>
      <td>396 - Brasitalia Mineradora Esp. Santense Ltda.</td>
      <td>NFE /77594</td>
      <td>30/09/2020</td>
      <td>15/10/2020</td>
      <td>30/10/2020</td>
    </tr>
    <tr>
      <th>80529</th>
      <td>780 - Telas União Comércio e Serviços Ltda ME</td>
      <td>NF  /2696</td>
      <td>30/09/2020</td>
      <td>16/10/2020</td>
      <td>08/10/2020</td>
    </tr>
    <tr>
      <th>80868</th>
      <td>482 - Prefeitura Municipal de Cariacica</td>
      <td>GUIA/11806</td>
      <td>30/09/2020</td>
      <td>20/10/2020</td>
      <td>25/10/2020</td>
    </tr>
    <tr>
      <th>81138</th>
      <td>396 - Brasitalia Mineradora Esp. Santense Ltda.</td>
      <td>NFE /77568</td>
      <td>30/09/2020</td>
      <td>21/10/2020</td>
      <td>30/10/2020</td>
    </tr>
  </tbody>
</table>
<p>4080 rows × 5 columns</p>
</div>

In [43]:
IGUATEMI=pd.DataFrame(pd.merge(razao_iguatemi,titulo_iguatemi, on='Titulo'))
IGUATEMI.sort_index

<bound method DataFrame.sort_index of            Data                                          Histórico    Débito  \
0    2020-09-01  Vr. Título 74961 de Vector Tecnologia Ltda. Ep...      0.00
1    2020-09-03  Vr. Pagamento do título 74961/1 de Vector Tecn...  13200.00
2    2020-09-01  Vr. Título 77358 de Brasitalia Mineradora Esp....      0.00
3    2020-09-01  Vr. Título 77359 de Brasitalia Mineradora Esp....      0.00
4    2020-09-01  Vr. Título 77360 de Brasitalia Mineradora Esp....      0.00
...         ...                                                ...       ...
1369 2020-09-30  Vr. Pagamento do título 75056/1 de Brasitalia ...    192.92
1370 2020-09-30  Vr. Pagamento do título 75096/1 de Brasitalia ...    197.24
1371 2020-09-30  Vr. Pagamento do título 75726/1 de Brasitalia ...    193.19
1372 2020-09-30  Vr. Pagamento do título 75728/1 de Brasitalia ...    187.52
1373 2020-09-30  Vr. Pagamento do título 75736/1 de Brasitalia ...    187.52

       Crédito   Titulo     Saldo  \
0     13200.00  74961.0  13200.00
1         0.00  74961.0 -13200.00
2       193.19  77358.0    193.19
3       189.68  77359.0    189.68
4       191.97  77360.0    191.97
...        ...      ...       ...
1369      0.00  75056.0   -192.92
1370      0.00  75096.0   -197.24
1371      0.00  75726.0   -193.19
1372      0.00  75728.0   -187.52
1373      0.00  75736.0   -187.52

                                               Credor    Documento  \
0                  2530 - Vector Tecnologia Ltda. Epp   NFE /00497
1                  2530 - Vector Tecnologia Ltda. Epp   NFE /00497
2     396 - Brasitalia Mineradora Esp. Santense Ltda.  NFE /158877
3     396 - Brasitalia Mineradora Esp. Santense Ltda.  NFE /257926
4     396 - Brasitalia Mineradora Esp. Santense Ltda.  NFE /158883
...                                               ...          ...
1369  396 - Brasitalia Mineradora Esp. Santense Ltda.  NFE /257633
1370  396 - Brasitalia Mineradora Esp. Santense Ltda.  NFE /158064
1371  396 - Brasitalia Mineradora Esp. Santense Ltda.  NFE /148767
1372  396 - Brasitalia Mineradora Esp. Santense Ltda.  NFE /158197
1373  396 - Brasitalia Mineradora Esp. Santense Ltda.  NFE /257567

         Emis.NF    Cadastro      Vencto
0     01/09/2020  02/09/2020  19/09/2020
1     01/09/2020  02/09/2020  19/09/2020
2     01/09/2020  18/09/2020  15/10/2020
3     01/09/2020  18/09/2020  15/10/2020
4     01/09/2020  18/09/2020  15/10/2020
...          ...         ...         ...
1369  26/08/2020  02/09/2020  30/09/2020
1370  21/08/2020  03/09/2020  30/09/2020
1371  24/08/2020  09/09/2020  30/09/2020
1372  24/08/2020  09/09/2020  30/09/2020
1373  24/08/2020  09/09/2020  30/09/2020

[1374 rows x 11 columns]>

In [44]:
fornecedor_iguatemi=pd.DataFrame(IGUATEMI.groupby('Credor')['Débito','Crédito','Saldo'].sum())
fornecedor_iguatemi.to_excel('F:/Conciliacao/Iguatemi/SAIDA_IGUATEMI/IGUATEMI_POR_FORNECEDOR.xlsx')

C:\Users\User\Virtual_Alejandro\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [45]:
por_titulo_IGUATEMI=pd.DataFrame(IGUATEMI.groupby(['Credor','Titulo'])['Histórico','Débito','Crédito','Saldo'].sum())
por_titulo_IGUATEMI.to_excel('F:/Conciliacao/Iguatemi/SAIDA_IGUATEMI/IGUATEMI_POR_FORNECEDOR_E_TITULO.xlsx')

C:\Users\User\Virtual_Alejandro\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [46]:
por_documento_IGUATEMI=pd.DataFrame(IGUATEMI.groupby(['Credor','Titulo','Documento','Data'])['Débito','Crédito','Saldo'].sum())
por_documento_IGUATEMI.to_excel('F:/Conciliacao/Iguatemi/SAIDA_IGUATEMI/iGUATEMI_FORNECEDOR_TITULO_DOCUMENTO.xlsx')

C:\Users\User\Virtual_Alejandro\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.