In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import timedelta
import dateutil
pd.options.display.max_rows=10

##Carregando os dados referentes ao razão contábil.

In [3]:
razao=pd.DataFrame(pd.read_excel('C:/Users/User/Desktop/CONTRACTOR/razao_contractor.xlsx'))
razao['Data']=pd.to_datetime(razao['Data'])
razao['Titulo']=pd.to_numeric(razao['Titulo']) #formateando como numero los titulos, debito, credito
razao['Débito']=pd.to_numeric(razao['Débito'],errors='coerce')
razao['Crédito']=pd.to_numeric(razao['Crédito'],errors='coerce')
razao['Titulo']=pd.to_numeric(razao['Titulo'])
razao['Débito']=razao['Débito'].replace({np.nan:0.00})
razao['Crédito']=razao['Crédito'].replace({np.nan:0.00})
razao['Saldo']=razao['Crédito']-razao['Débito'] #calculando los saldos por cada movimento contabil de cada un de los titulos
razao.set_index('Titulo') # configurando la columna titulo como indice para este DataFrame.

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Data</th>
      <th>Histórico</th>
      <th>Débito</th>
      <th>Crédito</th>
      <th>Saldo</th>
    </tr>
    <tr>
      <th>Titulo</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>47567</th>
      <td>2019-01-01</td>
      <td>Vr. Título 47567 de Crisreteli Residence Empre...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>47669</th>
      <td>2019-01-01</td>
      <td>Vr. Título 47669 de Industria e Comercio Apolo...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>48047</th>
      <td>2019-01-01</td>
      <td>Vr. Título 48047 de Brasitalia Mineradora Esp....</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>47306</th>
      <td>2019-01-02</td>
      <td>Vr. Título 47306 de Daniela da Silva Oliveira ...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>47307</th>
      <td>2019-01-02</td>
      <td>Vr. Título 47307 de Maria Adélia Massini Corre...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>60908</th>
      <td>2019-12-30</td>
      <td>Vr. Título 60908 de Distribuidora Nacional de ...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>60913</th>
      <td>2019-12-30</td>
      <td>Vr. Título 60913 de Difemaq Ferramentas e Maqu...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>60928</th>
      <td>2019-12-30</td>
      <td>Vr. Título 60928 de Livaldo de Souza de Jesus-...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>61089</th>
      <td>2019-12-30</td>
      <td>Vr. Título 61089 de Atacado São Paulo Ltda ref...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>61250</th>
      <td>2019-12-30</td>
      <td>Vr. Título 61250 de Mundo Dos Parafusos E Ferr...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
<p>11444 rows × 5 columns</p>
</div>

In [10]:
razao['Crédito'].sum()-razao['Débito'].sum()  #HACIENDO EL CALCULO DEL SALDO

425268.58000000194

In [11]:
razao['Data']

0      2019-01-08
1      2019-01-15
2      2019-01-23
3      2019-01-25
4      2019-01-30
          ...
3994   2019-12-27
3995   2019-12-27
3996   2019-12-27
3997   2019-12-28
3998   2019-12-30
Name: Data, Length: 3999, dtype: datetime64[ns]

In [34]:
datetime.strptime(razao['Data'],'%Y')

TypeError: strptime() argument 1 must be str, not Series

##Carregando os dados referentes aos titulos e nomes dos fornecedores.

In [12]:
titulo=pd.DataFrame(pd.read_excel('C:/Users/User/Desktop/Fabiana Contractor/CMA e Iguatemi/CMA/Titulo por data CMA.xlsx', index_col='Titulo'))

In [13]:
#Visualizando os titulos e os fornecedores
titulo

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Credor</th>
      <th>Documento</th>
    </tr>
    <tr>
      <th>Titulo</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>43863</th>
      <td>2118 - Power Print Comércio e Serviços Eireli EPP</td>
      <td>NFE /4537</td>
    </tr>
    <tr>
      <th>44413</th>
      <td>1944 - Copiadora Caldeira Ltda Me.</td>
      <td>NFE /4960</td>
    </tr>
    <tr>
      <th>46291</th>
      <td>754 - Restaurante Praia do Sua</td>
      <td>NFE /759</td>
    </tr>
    <tr>
      <th>46288</th>
      <td>2353 - Jaely Rosa Merlim</td>
      <td>FP  /SAL. 08/2018-CMA</td>
    </tr>
    <tr>
      <th>46290</th>
      <td>643 - GRRF-FGTS</td>
      <td>FP  /FGTS 08/2018-CMA</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>63090</th>
      <td>536 - Funcionários Contractor / Consórcios</td>
      <td>REC /RCT 04836884527</td>
    </tr>
    <tr>
      <th>60242</th>
      <td>497 - Secretaria da Receita Federal do Brasil</td>
      <td>GUIA/DARF</td>
    </tr>
    <tr>
      <th>61058</th>
      <td>497 - Secretaria da Receita Federal do Brasil</td>
      <td>DOC /DARF</td>
    </tr>
    <tr>
      <th>61066</th>
      <td>603 - Instituto Nacional de Seguro Social - INSS</td>
      <td>DOC /INSS 12/2019</td>
    </tr>
    <tr>
      <th>61067</th>
      <td>603 - Instituto Nacional de Seguro Social - INSS</td>
      <td>DOC /INSS 12/2019</td>
    </tr>
  </tbody>
</table>
<p>2489 rows × 2 columns</p>
</div>

###Paso importante! HAciendo la juncion de los dos DataFrames razao e titulos

In [16]:
cma=pd.DataFrame(pd.merge(razao,titulo, on='Titulo'))
cma

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Data</th>
      <th>Histórico</th>
      <th>Débito</th>
      <th>Crédito</th>
      <th>Titulo</th>
      <th>Saldo</th>
      <th>Credor</th>
      <th>Documento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2019-01-08</td>
      <td>Vr. Pagamento do título 47279/1 de Restaurante...</td>
      <td>213.70</td>
      <td>0.00</td>
      <td>47279</td>
      <td>-213.70</td>
      <td>754 - Restaurante Praia do Sua</td>
      <td>NFE /791</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2019-01-15</td>
      <td>Vr. Título 47682 de Cristian Pablo Metz Me ref...</td>
      <td>0.00</td>
      <td>25375.60</td>
      <td>47682</td>
      <td>25375.60</td>
      <td>3193 - Cristian Pablo Metz Me</td>
      <td>NFE /17</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2019-01-25</td>
      <td>Vr. Pagamento do título 47682/1 de Cristian Pa...</td>
      <td>25375.60</td>
      <td>0.00</td>
      <td>47682</td>
      <td>-25375.60</td>
      <td>3193 - Cristian Pablo Metz Me</td>
      <td>NFE /17</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2019-01-23</td>
      <td>Vr. Título 47837 de Ronaldo José Ferreira Alve...</td>
      <td>0.00</td>
      <td>9203.16</td>
      <td>47837</td>
      <td>9203.16</td>
      <td>3199 - Ronaldo José Ferreira Alves Santos Me</td>
      <td>NFE /2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2019-01-30</td>
      <td>Vr. Pagamento do título 47837/1 de Ronaldo Jos...</td>
      <td>9203.16</td>
      <td>0.00</td>
      <td>47837</td>
      <td>-9203.16</td>
      <td>3199 - Ronaldo José Ferreira Alves Santos Me</td>
      <td>NFE /2</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>3981</th>
      <td>2019-12-27</td>
      <td>Vr. Título 60924 de Protfer Proteção e Ferrame...</td>
      <td>0.00</td>
      <td>206.00</td>
      <td>60924</td>
      <td>206.00</td>
      <td>944 - Protfer Proteção e Ferramentas Ltda-ME</td>
      <td>NFE /26269</td>
    </tr>
    <tr>
      <th>3982</th>
      <td>2019-12-27</td>
      <td>Vr. Título 61040 de Luccas Carvalho Moreira 12...</td>
      <td>0.00</td>
      <td>2669.00</td>
      <td>61040</td>
      <td>2669.00</td>
      <td>3480 - Luccas Carvalho Moreira 12974297706</td>
      <td>NF  /25</td>
    </tr>
    <tr>
      <th>3983</th>
      <td>2019-12-27</td>
      <td>Vr. Título 61078 de Dom Bosco Industria de Vel...</td>
      <td>0.00</td>
      <td>925.20</td>
      <td>61078</td>
      <td>925.20</td>
      <td>3961 - Dom Bosco Industria de Velas e Comércio...</td>
      <td>NFE /16520</td>
    </tr>
    <tr>
      <th>3984</th>
      <td>2019-12-28</td>
      <td>Vr. Título 60935 de Cesan - Companhia Espírito...</td>
      <td>0.00</td>
      <td>60.37</td>
      <td>60935</td>
      <td>60.37</td>
      <td>492 - Cesan - Companhia Espírito Santense de S...</td>
      <td>FAT /12/2019</td>
    </tr>
    <tr>
      <th>3985</th>
      <td>2019-12-30</td>
      <td>Vr. Título 61111 de Tasco Comércio e Represent...</td>
      <td>0.00</td>
      <td>4925.77</td>
      <td>61111</td>
      <td>4925.77</td>
      <td>3441 - Tasco Comércio e Representações Ltda.</td>
      <td>NFE /33329</td>
    </tr>
  </tbody>
</table>
<p>3986 rows × 8 columns</p>
</div>

In [17]:
fornecedor=pd.DataFrame(cma.groupby('Credor')['Débito','Crédito','Saldo'].sum())
fornecedor.to_excel('C:/Users/User/Desktop/Fabiana Contractor/CMA e Iguatemi/CMA/Por fornecedor.xlsx')

In [18]:
por_titulo=pd.DataFrame(cma.groupby(['Credor','Titulo'])['Débito','Crédito','Saldo'].sum())
por_titulo.to_excel('C:/Users/User/Desktop/Fabiana Contractor/CMA e Iguatemi/CMA/Por fornecedor e titulo.xlsx')

In [19]:
por_documento=pd.DataFrame(cma.groupby(['Credor','Titulo','Documento'])['Débito','Crédito','Saldo'].sum())
por_documento.to_excel('C:/Users/User/Desktop/Fabiana Contractor/CMA e Iguatemi/CMA/Por fornecedor- titulo-documento.xlsx')

In [20]:
print(fornecedor.count())

Débito     301
Crédito    301
Saldo      301
dtype: int64

In [21]:
por_titulo.count()

Débito     1953
Crédito    1953
Saldo      1953
dtype: int64

In [22]:
por_documento.count()

Débito     1953
Crédito    1953
Saldo      1953
dtype: int64

In [23]:
por_documento[por_documento['Saldo']<0]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th></th>
      <th>Débito</th>
      <th>Crédito</th>
      <th>Saldo</th>
    </tr>
    <tr>
      <th>Credor</th>
      <th>Titulo</th>
      <th>Documento</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1075 - Mercado Pago.Com Representações Ltda.</th>
      <th>54081</th>
      <th>ADT /ADIANT. 16/08/19</th>
      <td>2278.00</td>
      <td>0.00</td>
      <td>-2.278000e+03</td>
    </tr>
    <tr>
      <th>177 - Brazoni Com. de Filtros E Peças Ltda</th>
      <th>52679</th>
      <th>NFE /34163</th>
      <td>373.00</td>
      <td>0.00</td>
      <td>-3.730000e+02</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">19 - Boa Praça Importadora  E Exportadora Ltda.</th>
      <th>52611</th>
      <th>NFE /173150</th>
      <td>188.10</td>
      <td>0.00</td>
      <td>-1.881000e+02</td>
    </tr>
    <tr>
      <th>52925</th>
      <th>NFE /173096</th>
      <td>752.40</td>
      <td>0.00</td>
      <td>-7.524000e+02</td>
    </tr>
    <tr>
      <th>54424</th>
      <th>NFE /174407</th>
      <td>130.00</td>
      <td>0.00</td>
      <td>-1.300000e+02</td>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>754 - Restaurante Praia do Sua</th>
      <th>47279</th>
      <th>NFE /791</th>
      <td>213.70</td>
      <td>0.00</td>
      <td>-2.137000e+02</td>
    </tr>
    <tr>
      <th>92 - Richier-Soloca Equipamentos para Construção Ltda Me</th>
      <th>54558</th>
      <th>FAT /25105</th>
      <td>921.60</td>
      <td>900.00</td>
      <td>-2.160000e+01</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">94 - São Gabriel Pneus Ltda.</th>
      <th>52171</th>
      <th>NFE /55133</th>
      <td>519.66</td>
      <td>519.66</td>
      <td>-5.684342e-14</td>
    </tr>
    <tr>
      <th>53386</th>
      <th>NFE /55307</th>
      <td>1154.84</td>
      <td>1154.84</td>
      <td>-1.136868e-13</td>
    </tr>
    <tr>
      <th>944 - Protfer Proteção e Ferramentas Ltda-ME</th>
      <th>52644</th>
      <th>NFE /24005</th>
      <td>378.00</td>
      <td>0.00</td>
      <td>-3.780000e+02</td>
    </tr>
  </tbody>
</table>
<p>37 rows × 3 columns</p>
</div>

In [26]:
por_data=pd.DataFrame(cma.groupby(['Credor','Titulo','Data'])['Débito','Crédito','Saldo'].sum())
#por_data.to_excel('C:/Users/User/Desktop/Fabiana Contractor/CMA e Iguatemi/CMA/Por data.xlsx')
por_data

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th></th>
      <th>Débito</th>
      <th>Crédito</th>
      <th>Saldo</th>
    </tr>
    <tr>
      <th>Credor</th>
      <th>Titulo</th>
      <th>Data</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">1016 - Marca Ambiental Ltda.</th>
      <th rowspan="2" valign="top">56040</th>
      <th>2019-09-06</th>
      <td>0.00</td>
      <td>2077.20</td>
      <td>2077.20</td>
    </tr>
    <tr>
      <th>2019-09-30</th>
      <td>2077.20</td>
      <td>0.00</td>
      <td>-2077.20</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">1057 - José Henrique Pretti Filho</th>
      <th rowspan="2" valign="top">48733</th>
      <th>2019-02-26</th>
      <td>0.00</td>
      <td>56.99</td>
      <td>56.99</td>
    </tr>
    <tr>
      <th>2019-03-08</th>
      <td>56.99</td>
      <td>0.00</td>
      <td>-56.99</td>
    </tr>
    <tr>
      <th>56085</th>
      <th>2019-09-27</th>
      <td>0.00</td>
      <td>9086.26</td>
      <td>9086.26</td>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">944 - Protfer Proteção e Ferramentas Ltda-ME</th>
      <th rowspan="2" valign="top">59602</th>
      <th>2019-11-28</th>
      <td>0.00</td>
      <td>910.05</td>
      <td>910.05</td>
    </tr>
    <tr>
      <th>2019-12-26</th>
      <td>455.03</td>
      <td>0.00</td>
      <td>-455.03</td>
    </tr>
    <tr>
      <th>59779</th>
      <th>2019-12-09</th>
      <td>0.00</td>
      <td>490.00</td>
      <td>490.00</td>
    </tr>
    <tr>
      <th>60515</th>
      <th>2019-12-13</th>
      <td>0.00</td>
      <td>310.00</td>
      <td>310.00</td>
    </tr>
    <tr>
      <th>60924</th>
      <th>2019-12-27</th>
      <td>0.00</td>
      <td>206.00</td>
      <td>206.00</td>
    </tr>
  </tbody>
</table>
<p>3952 rows × 3 columns</p>
</div>