In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from statsmodels.stats.tests.test_multi import NA

In [2]:
frame=pd.DataFrame(np.arange(100).reshape(25,4),
                   index=np.arange(25),
                   columns=['Colorado','Ohio','Florida','New Jersey'])
frame.index.names=['code']
frame

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Colorado</th>
      <th>Ohio</th>
      <th>Florida</th>
      <th>New Jersey</th>
    </tr>
    <tr>
      <th>code</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>3</th>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
    </tr>
    <tr>
      <th>4</th>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>19</td>
    </tr>
    <tr>
      <th>5</th>
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
    </tr>
    <tr>
      <th>6</th>
      <td>24</td>
      <td>25</td>
      <td>26</td>
      <td>27</td>
    </tr>
    <tr>
      <th>7</th>
      <td>28</td>
      <td>29</td>
      <td>30</td>
      <td>31</td>
    </tr>
    <tr>
      <th>8</th>
      <td>32</td>
      <td>33</td>
      <td>34</td>
      <td>35</td>
    </tr>
    <tr>
      <th>9</th>
      <td>36</td>
      <td>37</td>
      <td>38</td>
      <td>39</td>
    </tr>
    <tr>
      <th>10</th>
      <td>40</td>
      <td>41</td>
      <td>42</td>
      <td>43</td>
    </tr>
    <tr>
      <th>11</th>
      <td>44</td>
      <td>45</td>
      <td>46</td>
      <td>47</td>
    </tr>
    <tr>
      <th>12</th>
      <td>48</td>
      <td>49</td>
      <td>50</td>
      <td>51</td>
    </tr>
    <tr>
      <th>13</th>
      <td>52</td>
      <td>53</td>
      <td>54</td>
      <td>55</td>
    </tr>
    <tr>
      <th>14</th>
      <td>56</td>
      <td>57</td>
      <td>58</td>
      <td>59</td>
    </tr>
    <tr>
      <th>15</th>
      <td>60</td>
      <td>61</td>
      <td>62</td>
      <td>63</td>
    </tr>
    <tr>
      <th>16</th>
      <td>64</td>
      <td>65</td>
      <td>66</td>
      <td>67</td>
    </tr>
    <tr>
      <th>17</th>
      <td>68</td>
      <td>69</td>
      <td>70</td>
      <td>71</td>
    </tr>
    <tr>
      <th>18</th>
      <td>72</td>
      <td>73</td>
      <td>74</td>
      <td>75</td>
    </tr>
    <tr>
      <th>19</th>
      <td>76</td>
      <td>77</td>
      <td>78</td>
      <td>79</td>
    </tr>
    <tr>
      <th>20</th>
      <td>80</td>
      <td>81</td>
      <td>82</td>
      <td>83</td>
    </tr>
    <tr>
      <th>21</th>
      <td>84</td>
      <td>85</td>
      <td>86</td>
      <td>87</td>
    </tr>
    <tr>
      <th>22</th>
      <td>88</td>
      <td>89</td>
      <td>90</td>
      <td>91</td>
    </tr>
    <tr>
      <th>23</th>
      <td>92</td>
      <td>93</td>
      <td>94</td>
      <td>95</td>
    </tr>
    <tr>
      <th>24</th>
      <td>96</td>
      <td>97</td>
      <td>98</td>
      <td>99</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
frame.iloc[12].mean()

49.5

In [4]:
frame.iloc[12].var()

1.6666666666666667

In [5]:
min_65=frame[frame<60]
min_65

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Colorado</th>
      <th>Ohio</th>
      <th>Florida</th>
      <th>New Jersey</th>
    </tr>
    <tr>
      <th>code</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4.0</td>
      <td>5.0</td>
      <td>6.0</td>
      <td>7.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8.0</td>
      <td>9.0</td>
      <td>10.0</td>
      <td>11.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>12.0</td>
      <td>13.0</td>
      <td>14.0</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>16.0</td>
      <td>17.0</td>
      <td>18.0</td>
      <td>19.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>20.0</td>
      <td>21.0</td>
      <td>22.0</td>
      <td>23.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>24.0</td>
      <td>25.0</td>
      <td>26.0</td>
      <td>27.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>32.0</td>
      <td>33.0</td>
      <td>34.0</td>
      <td>35.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>36.0</td>
      <td>37.0</td>
      <td>38.0</td>
      <td>39.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>40.0</td>
      <td>41.0</td>
      <td>42.0</td>
      <td>43.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>44.0</td>
      <td>45.0</td>
      <td>46.0</td>
      <td>47.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>48.0</td>
      <td>49.0</td>
      <td>50.0</td>
      <td>51.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>52.0</td>
      <td>53.0</td>
      <td>54.0</td>
      <td>55.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>56.0</td>
      <td>57.0</td>
      <td>58.0</td>
      <td>59.0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>16</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>17</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>21</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>22</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>23</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
min_65.dropna()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Colorado</th>
      <th>Ohio</th>
      <th>Florida</th>
      <th>New Jersey</th>
    </tr>
    <tr>
      <th>code</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4.0</td>
      <td>5.0</td>
      <td>6.0</td>
      <td>7.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8.0</td>
      <td>9.0</td>
      <td>10.0</td>
      <td>11.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>12.0</td>
      <td>13.0</td>
      <td>14.0</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>16.0</td>
      <td>17.0</td>
      <td>18.0</td>
      <td>19.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>20.0</td>
      <td>21.0</td>
      <td>22.0</td>
      <td>23.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>24.0</td>
      <td>25.0</td>
      <td>26.0</td>
      <td>27.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>32.0</td>
      <td>33.0</td>
      <td>34.0</td>
      <td>35.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>36.0</td>
      <td>37.0</td>
      <td>38.0</td>
      <td>39.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>40.0</td>
      <td>41.0</td>
      <td>42.0</td>
      <td>43.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>44.0</td>
      <td>45.0</td>
      <td>46.0</td>
      <td>47.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>48.0</td>
      <td>49.0</td>
      <td>50.0</td>
      <td>51.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>52.0</td>
      <td>53.0</td>
      <td>54.0</td>
      <td>55.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>56.0</td>
      <td>57.0</td>
      <td>58.0</td>
      <td>59.0</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
indice_min65=np.random.rand(25)
min_65index=pd.DataFrame(np.round(np.random.rand(25),4), columns=['percent'])
min_65index.index.names=['code']

In [8]:
datos=pd.merge(min_65,min_65index, on='code')

In [9]:
datos

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Colorado</th>
      <th>Ohio</th>
      <th>Florida</th>
      <th>New Jersey</th>
      <th>percent</th>
    </tr>
    <tr>
      <th>code</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>3.0</td>
      <td>0.3996</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4.0</td>
      <td>5.0</td>
      <td>6.0</td>
      <td>7.0</td>
      <td>0.5908</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8.0</td>
      <td>9.0</td>
      <td>10.0</td>
      <td>11.0</td>
      <td>0.7427</td>
    </tr>
    <tr>
      <th>3</th>
      <td>12.0</td>
      <td>13.0</td>
      <td>14.0</td>
      <td>15.0</td>
      <td>0.6381</td>
    </tr>
    <tr>
      <th>4</th>
      <td>16.0</td>
      <td>17.0</td>
      <td>18.0</td>
      <td>19.0</td>
      <td>0.3439</td>
    </tr>
    <tr>
      <th>5</th>
      <td>20.0</td>
      <td>21.0</td>
      <td>22.0</td>
      <td>23.0</td>
      <td>0.4998</td>
    </tr>
    <tr>
      <th>6</th>
      <td>24.0</td>
      <td>25.0</td>
      <td>26.0</td>
      <td>27.0</td>
      <td>0.9242</td>
    </tr>
    <tr>
      <th>7</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.0231</td>
    </tr>
    <tr>
      <th>8</th>
      <td>32.0</td>
      <td>33.0</td>
      <td>34.0</td>
      <td>35.0</td>
      <td>0.8799</td>
    </tr>
    <tr>
      <th>9</th>
      <td>36.0</td>
      <td>37.0</td>
      <td>38.0</td>
      <td>39.0</td>
      <td>0.9931</td>
    </tr>
    <tr>
      <th>10</th>
      <td>40.0</td>
      <td>41.0</td>
      <td>42.0</td>
      <td>43.0</td>
      <td>0.6998</td>
    </tr>
    <tr>
      <th>11</th>
      <td>44.0</td>
      <td>45.0</td>
      <td>46.0</td>
      <td>47.0</td>
      <td>0.0065</td>
    </tr>
    <tr>
      <th>12</th>
      <td>48.0</td>
      <td>49.0</td>
      <td>50.0</td>
      <td>51.0</td>
      <td>0.1232</td>
    </tr>
    <tr>
      <th>13</th>
      <td>52.0</td>
      <td>53.0</td>
      <td>54.0</td>
      <td>55.0</td>
      <td>0.8589</td>
    </tr>
    <tr>
      <th>14</th>
      <td>56.0</td>
      <td>57.0</td>
      <td>58.0</td>
      <td>59.0</td>
      <td>0.6666</td>
    </tr>
    <tr>
      <th>15</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.8561</td>
    </tr>
    <tr>
      <th>16</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.6795</td>
    </tr>
    <tr>
      <th>17</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0215</td>
    </tr>
    <tr>
      <th>18</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.8855</td>
    </tr>
    <tr>
      <th>19</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.4615</td>
    </tr>
    <tr>
      <th>20</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.4168</td>
    </tr>
    <tr>
      <th>21</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.4242</td>
    </tr>
    <tr>
      <th>22</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.5723</td>
    </tr>
    <tr>
      <th>23</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.5452</td>
    </tr>
    <tr>
      <th>24</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.3096</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
da=datos.fillna({'Colorado':datos['Colorado'].mean(), 'Ohio':datos['Ohio'].mean(),
                 'Florida':datos['Florida'].median(),
                 'New Jersey':datos['New Jersey'].mean()})

In [11]:
da

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Colorado</th>
      <th>Ohio</th>
      <th>Florida</th>
      <th>New Jersey</th>
      <th>percent</th>
    </tr>
    <tr>
      <th>code</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>3.0</td>
      <td>0.3996</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4.0</td>
      <td>5.0</td>
      <td>6.0</td>
      <td>7.0</td>
      <td>0.5908</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8.0</td>
      <td>9.0</td>
      <td>10.0</td>
      <td>11.0</td>
      <td>0.7427</td>
    </tr>
    <tr>
      <th>3</th>
      <td>12.0</td>
      <td>13.0</td>
      <td>14.0</td>
      <td>15.0</td>
      <td>0.6381</td>
    </tr>
    <tr>
      <th>4</th>
      <td>16.0</td>
      <td>17.0</td>
      <td>18.0</td>
      <td>19.0</td>
      <td>0.3439</td>
    </tr>
    <tr>
      <th>5</th>
      <td>20.0</td>
      <td>21.0</td>
      <td>22.0</td>
      <td>23.0</td>
      <td>0.4998</td>
    </tr>
    <tr>
      <th>6</th>
      <td>24.0</td>
      <td>25.0</td>
      <td>26.0</td>
      <td>27.0</td>
      <td>0.9242</td>
    </tr>
    <tr>
      <th>7</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.0231</td>
    </tr>
    <tr>
      <th>8</th>
      <td>32.0</td>
      <td>33.0</td>
      <td>34.0</td>
      <td>35.0</td>
      <td>0.8799</td>
    </tr>
    <tr>
      <th>9</th>
      <td>36.0</td>
      <td>37.0</td>
      <td>38.0</td>
      <td>39.0</td>
      <td>0.9931</td>
    </tr>
    <tr>
      <th>10</th>
      <td>40.0</td>
      <td>41.0</td>
      <td>42.0</td>
      <td>43.0</td>
      <td>0.6998</td>
    </tr>
    <tr>
      <th>11</th>
      <td>44.0</td>
      <td>45.0</td>
      <td>46.0</td>
      <td>47.0</td>
      <td>0.0065</td>
    </tr>
    <tr>
      <th>12</th>
      <td>48.0</td>
      <td>49.0</td>
      <td>50.0</td>
      <td>51.0</td>
      <td>0.1232</td>
    </tr>
    <tr>
      <th>13</th>
      <td>52.0</td>
      <td>53.0</td>
      <td>54.0</td>
      <td>55.0</td>
      <td>0.8589</td>
    </tr>
    <tr>
      <th>14</th>
      <td>56.0</td>
      <td>57.0</td>
      <td>58.0</td>
      <td>59.0</td>
      <td>0.6666</td>
    </tr>
    <tr>
      <th>15</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.8561</td>
    </tr>
    <tr>
      <th>16</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.6795</td>
    </tr>
    <tr>
      <th>17</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.0215</td>
    </tr>
    <tr>
      <th>18</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.8855</td>
    </tr>
    <tr>
      <th>19</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.4615</td>
    </tr>
    <tr>
      <th>20</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.4168</td>
    </tr>
    <tr>
      <th>21</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.4242</td>
    </tr>
    <tr>
      <th>22</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.5723</td>
    </tr>
    <tr>
      <th>23</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.5452</td>
    </tr>
    <tr>
      <th>24</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.3096</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
da.sort_values(by='percent', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Colorado</th>
      <th>Ohio</th>
      <th>Florida</th>
      <th>New Jersey</th>
      <th>percent</th>
    </tr>
    <tr>
      <th>code</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>36.0</td>
      <td>37.0</td>
      <td>38.0</td>
      <td>39.0</td>
      <td>0.9931</td>
    </tr>
    <tr>
      <th>6</th>
      <td>24.0</td>
      <td>25.0</td>
      <td>26.0</td>
      <td>27.0</td>
      <td>0.9242</td>
    </tr>
    <tr>
      <th>18</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.8855</td>
    </tr>
    <tr>
      <th>8</th>
      <td>32.0</td>
      <td>33.0</td>
      <td>34.0</td>
      <td>35.0</td>
      <td>0.8799</td>
    </tr>
    <tr>
      <th>13</th>
      <td>52.0</td>
      <td>53.0</td>
      <td>54.0</td>
      <td>55.0</td>
      <td>0.8589</td>
    </tr>
    <tr>
      <th>15</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.8561</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8.0</td>
      <td>9.0</td>
      <td>10.0</td>
      <td>11.0</td>
      <td>0.7427</td>
    </tr>
    <tr>
      <th>10</th>
      <td>40.0</td>
      <td>41.0</td>
      <td>42.0</td>
      <td>43.0</td>
      <td>0.6998</td>
    </tr>
    <tr>
      <th>16</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.6795</td>
    </tr>
    <tr>
      <th>14</th>
      <td>56.0</td>
      <td>57.0</td>
      <td>58.0</td>
      <td>59.0</td>
      <td>0.6666</td>
    </tr>
    <tr>
      <th>3</th>
      <td>12.0</td>
      <td>13.0</td>
      <td>14.0</td>
      <td>15.0</td>
      <td>0.6381</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4.0</td>
      <td>5.0</td>
      <td>6.0</td>
      <td>7.0</td>
      <td>0.5908</td>
    </tr>
    <tr>
      <th>22</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.5723</td>
    </tr>
    <tr>
      <th>23</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.5452</td>
    </tr>
    <tr>
      <th>5</th>
      <td>20.0</td>
      <td>21.0</td>
      <td>22.0</td>
      <td>23.0</td>
      <td>0.4998</td>
    </tr>
    <tr>
      <th>19</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.4615</td>
    </tr>
    <tr>
      <th>21</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.4242</td>
    </tr>
    <tr>
      <th>20</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.4168</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>3.0</td>
      <td>0.3996</td>
    </tr>
    <tr>
      <th>4</th>
      <td>16.0</td>
      <td>17.0</td>
      <td>18.0</td>
      <td>19.0</td>
      <td>0.3439</td>
    </tr>
    <tr>
      <th>24</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.3096</td>
    </tr>
    <tr>
      <th>12</th>
      <td>48.0</td>
      <td>49.0</td>
      <td>50.0</td>
      <td>51.0</td>
      <td>0.1232</td>
    </tr>
    <tr>
      <th>7</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.0231</td>
    </tr>
    <tr>
      <th>17</th>
      <td>28.0</td>
      <td>29.0</td>
      <td>30.0</td>
      <td>31.0</td>
      <td>0.0215</td>
    </tr>
    <tr>
      <th>11</th>
      <td>44.0</td>
      <td>45.0</td>
      <td>46.0</td>
      <td>47.0</td>
      <td>0.0065</td>
    </tr>
  </tbody>
</table>
</div>