In [1]:
import pandas as pd
import numpy as np

In [15]:
proventos=pd.DataFrame(pd.read_excel('F:/Proventos.xlsx'))
Quantidade=pd.to_numeric(proventos['Quantidade'])
Valor_Bruto=pd.to_numeric(proventos['Valor_Bruto'])
Valor_IR=pd.to_numeric(proventos['Valor_IR'])
Valor_Líquido=pd.to_numeric(proventos['Valor_Líquido'])
proventos

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Ativo</th>
      <th>Evento</th>
      <th>Quantidade</th>
      <th>Valor_Bruto</th>
      <th>Valor_IR</th>
      <th>Valor_Líquido</th>
      <th>Pagamento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ALIANSCSONAE</td>
      <td>DIVIDENDO</td>
      <td>357</td>
      <td>80.82</td>
      <td>0.00</td>
      <td>80.82</td>
      <td>2021-05-17</td>
    </tr>
    <tr>
      <th>1</th>
      <td>B3</td>
      <td>DIVIDENDO</td>
      <td>200</td>
      <td>82.09</td>
      <td>0.00</td>
      <td>82.09</td>
      <td>2021-01-08</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B3</td>
      <td>JCP</td>
      <td>200</td>
      <td>29.38</td>
      <td>4.40</td>
      <td>24.98</td>
      <td>2021-01-08</td>
    </tr>
    <tr>
      <th>3</th>
      <td>B3</td>
      <td>DIVIDENDO</td>
      <td>200</td>
      <td>78.62</td>
      <td>0.00</td>
      <td>78.62</td>
      <td>2021-04-08</td>
    </tr>
    <tr>
      <th>4</th>
      <td>B3</td>
      <td>JCP</td>
      <td>200</td>
      <td>22.89</td>
      <td>3.43</td>
      <td>19.46</td>
      <td>2021-04-08</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>89</th>
      <td>VALE</td>
      <td>DIVIDENDO</td>
      <td>300</td>
      <td>656.89</td>
      <td>0.00</td>
      <td>656.89</td>
      <td>2021-06-30</td>
    </tr>
    <tr>
      <th>90</th>
      <td>VALE</td>
      <td>DIVIDENDO</td>
      <td>300</td>
      <td>2459.17</td>
      <td>0.00</td>
      <td>2459.17</td>
      <td>2021-09-30</td>
    </tr>
    <tr>
      <th>91</th>
      <td>VULCABRAS</td>
      <td>DIVIDENDO</td>
      <td>500</td>
      <td>175.00</td>
      <td>0.00</td>
      <td>175.00</td>
      <td>2021-11-12</td>
    </tr>
    <tr>
      <th>92</th>
      <td>WIZ S.A.</td>
      <td>DIVIDENDO</td>
      <td>400</td>
      <td>36.53</td>
      <td>0.00</td>
      <td>36.53</td>
      <td>2021-05-25</td>
    </tr>
    <tr>
      <th>93</th>
      <td>WIZ S.A.</td>
      <td>DIVIDENDO</td>
      <td>400</td>
      <td>207.01</td>
      <td>0.00</td>
      <td>207.01</td>
      <td>2021-11-25</td>
    </tr>
  </tbody>
</table>
<p>94 rows × 7 columns</p>
</div>

In [17]:
proventos_1=proventos.groupby(['Ativo','Evento'])['Valor_Bruto','Valor_IR','Valor_Líquido'].sum()
proventos_1

<ipython-input-17-4a314fd1fa4c>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  proventos_1=proventos.groupby(['Ativo','Evento'])['Valor_Bruto','Valor_IR','Valor_Líquido'].sum()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Valor_Bruto</th>
      <th>Valor_IR</th>
      <th>Valor_Líquido</th>
    </tr>
    <tr>
      <th>Ativo</th>
      <th>Evento</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>ALIANSCSONAE</th>
      <th>DIVIDENDO</th>
      <td>80.82</td>
      <td>0.00</td>
      <td>80.82</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">B3</th>
      <th>DIVIDENDO</th>
      <td>558.87</td>
      <td>0.00</td>
      <td>558.87</td>
    </tr>
    <tr>
      <th>JCP</th>
      <td>106.45</td>
      <td>15.94</td>
      <td>90.51</td>
    </tr>
    <tr>
      <th>BANCO INTER</th>
      <th>JCP</th>
      <td>29.90</td>
      <td>4.48</td>
      <td>25.42</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">BANCO PAN</th>
      <th>DIVIDENDO</th>
      <td>4.36</td>
      <td>0.00</td>
      <td>4.36</td>
    </tr>
    <tr>
      <th>JCP</th>
      <td>122.54</td>
      <td>18.38</td>
      <td>104.16</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">BBSEGURIDADE</th>
      <th>DIVIDENDO</th>
      <td>99.56</td>
      <td>0.00</td>
      <td>99.56</td>
    </tr>
    <tr>
      <th>RENDIMENTO</th>
      <td>0.13</td>
      <td>0.02</td>
      <td>0.11</td>
    </tr>
    <tr>
      <th>BTGP BANCO</th>
      <th>JCP</th>
      <td>567.49</td>
      <td>85.11</td>
      <td>482.38</td>
    </tr>
    <tr>
      <th>CAMIL</th>
      <th>JCP</th>
      <td>60.31</td>
      <td>9.03</td>
      <td>51.28</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">COPASA</th>
      <th>DIVIDENDO</th>
      <td>45.39</td>
      <td>0.00</td>
      <td>45.39</td>
    </tr>
    <tr>
      <th>JCP</th>
      <td>238.00</td>
      <td>35.68</td>
      <td>202.32</td>
    </tr>
    <tr>
      <th>COSAN</th>
      <th>DIVIDENDO</th>
      <td>255.42</td>
      <td>0.00</td>
      <td>255.42</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">ELETROBRAS</th>
      <th>DIVIDENDO</th>
      <td>475.77</td>
      <td>0.00</td>
      <td>475.77</td>
    </tr>
    <tr>
      <th>RENDIMENTO</th>
      <td>3.88</td>
      <td>0.77</td>
      <td>3.11</td>
    </tr>
    <tr>
      <th>EQUATORIAL</th>
      <th>DIVIDENDO</th>
      <td>360.00</td>
      <td>0.00</td>
      <td>360.00</td>
    </tr>
    <tr>
      <th>FII BC FUND</th>
      <th>RENDIMENTO</th>
      <td>565.02</td>
      <td>0.00</td>
      <td>565.02</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">GERDAU MET</th>
      <th>DIVIDENDO</th>
      <td>804.00</td>
      <td>0.00</td>
      <td>804.00</td>
    </tr>
    <tr>
      <th>JCP</th>
      <td>160.00</td>
      <td>24.00</td>
      <td>136.00</td>
    </tr>
    <tr>
      <th>GUARARAPES</th>
      <th>JCP</th>
      <td>110.37</td>
      <td>16.55</td>
      <td>93.82</td>
    </tr>
    <tr>
      <th>HELBOR</th>
      <th>DIVIDENDO</th>
      <td>2.84</td>
      <td>0.00</td>
      <td>2.84</td>
    </tr>
    <tr>
      <th>IRANI</th>
      <th>DIVIDENDO</th>
      <td>283.17</td>
      <td>0.00</td>
      <td>283.17</td>
    </tr>
    <tr>
      <th>JEREISSATI</th>
      <th>DIVIDENDO</th>
      <td>20.48</td>
      <td>0.00</td>
      <td>20.48</td>
    </tr>
    <tr>
      <th>LINX</th>
      <th>DIVIDENDO</th>
      <td>56.36</td>
      <td>0.00</td>
      <td>56.36</td>
    </tr>
    <tr>
      <th>MAGAZ LUIZA</th>
      <th>JCP</th>
      <td>10.52</td>
      <td>1.57</td>
      <td>8.95</td>
    </tr>
    <tr>
      <th>MARCOPOLO</th>
      <th>JCP</th>
      <td>6.00</td>
      <td>0.90</td>
      <td>5.10</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">MILLS</th>
      <th>DIVIDENDO</th>
      <td>32.64</td>
      <td>0.00</td>
      <td>32.64</td>
    </tr>
    <tr>
      <th>JCP</th>
      <td>154.70</td>
      <td>23.19</td>
      <td>131.51</td>
    </tr>
    <tr>
      <th>MITRE REALTY</th>
      <th>DIVIDENDO</th>
      <td>112.92</td>
      <td>0.00</td>
      <td>112.92</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">PETROBRAS</th>
      <th>DIVIDENDO</th>
      <td>3214.72</td>
      <td>0.00</td>
      <td>3214.72</td>
    </tr>
    <tr>
      <th>JCP</th>
      <td>738.75</td>
      <td>110.81</td>
      <td>627.94</td>
    </tr>
    <tr>
      <th>RENDIMENTO</th>
      <td>3.77</td>
      <td>0.84</td>
      <td>2.93</td>
    </tr>
    <tr>
      <th>SANEPAR</th>
      <th>JCP</th>
      <td>595.80</td>
      <td>89.36</td>
      <td>506.44</td>
    </tr>
    <tr>
      <th>SANTOS BRP</th>
      <th>DIVIDENDO</th>
      <td>205.78</td>
      <td>0.00</td>
      <td>205.78</td>
    </tr>
    <tr>
      <th>SINQIA</th>
      <th>JCP</th>
      <td>1.96</td>
      <td>0.29</td>
      <td>1.67</td>
    </tr>
    <tr>
      <th>SLC AGRICOLA</th>
      <th>DIVIDENDO</th>
      <td>531.35</td>
      <td>0.00</td>
      <td>531.35</td>
    </tr>
    <tr>
      <th>STNEPART</th>
      <th>RESGATE TOTAL RENDA VARIAVEL</th>
      <td>3352.29</td>
      <td>0.00</td>
      <td>3352.29</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">VALE</th>
      <th>DIVIDENDO</th>
      <td>4143.83</td>
      <td>0.00</td>
      <td>4143.83</td>
    </tr>
    <tr>
      <th>JCP</th>
      <td>250.72</td>
      <td>37.60</td>
      <td>213.12</td>
    </tr>
    <tr>
      <th>VULCABRAS</th>
      <th>DIVIDENDO</th>
      <td>175.00</td>
      <td>0.00</td>
      <td>175.00</td>
    </tr>
    <tr>
      <th>WIZ S.A.</th>
      <th>DIVIDENDO</th>
      <td>243.54</td>
      <td>0.00</td>
      <td>243.54</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
proventos_1.to_excel('F:/resumo_cipriano.xlsx')